/* Universal style */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* project color palete

background rgb(81.771% 81.753% 74.755%);
option 1 rgb(19.001% 34.279% 70.074%); letters
option 2 rgb(10.175% 23.692% 46.534%); buttons
option 3 rgb(10.564% 45.122% 69.458%); links:hover
option 4 #ea580c buttons
*/


*{
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgb(19.001% 34.279% 70.074%);
    text-align: justify;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(81.771% 81.753% 74.755%);
}


hr{
    height: 0.5rem;
    border: none;
    background-color: rgb(10.175% 23.692% 46.534%);
}


/* Header style */

#headerdesktop{
    width: 100%;
    padding: 1.5rem 1rem;
}

#navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#navlist{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

ul#navlist li a{
    text-decoration: none;
    float: left;
    padding: 0.5rem;
    color: rgb(19.001% 34.279% 70.074%);
}

ul#navlist li a:hover{
    color: rgb(224, 214, 214);
    background-color: rgb(10.564% 45.122% 69.458%);
    border-radius: 2.5rem;
}

.page-link.active a{
    font-weight: 500;
    border-bottom: 3px white;
}

.menu-icon{
    margin: 0 0.5rem;
}



/*  Main content  */

#main-container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.career-academic{
    margin: 0.5rem;
    padding: 1rem;
}

.career-academic p{
    text-align: justify;
}

/*Footer*/

footer{
    background-color: rgb(10.564% 45.122% 69.458%);
    font-size: 0.7rem;
    color:whitesmoke;
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: flex-end;
}

#foot-text{
    color: whitesmoke;
    font-weight: 400;
}