/* Universal style */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* project color palete

background rgb(81.771% 81.753% 74.755%);
option 1 rgb(19.001% 34.279% 70.074%); letters
option 2 rgb(10.175% 23.692% 46.534%); buttons
option 3 rgb(10.564% 45.122% 69.458%); links:hover
option 4 #ea580c buttons
*/


*{
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgb(19.001% 34.279% 70.074%);
    text-align: justify;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(81.771% 81.753% 74.755%);
}

